@for(path of pathList; track path; let i = $index;) {

  @if (path.display) {

    <div>

      @if (path.hasChildren && path.depth !== 0) {
        <span
          class="expand-icon"
          [style]="{ left: path.depth * 16 - 5 + 'px' }"
          (click)="expand(path)"
        >
          {{ path.expanded ? "-" : "+" }}
        </span>
      }

      <span
        class="folder-name"
        [class]="{ selected: path.selected, root: path.depth === 0 }"
        [style]="{ marginLeft: path.depth * 16 + 'px' }" (click)="clicked(path)"
      >
        {{ path.path | dir }}
      </span>

      @if (path.depth !== 0) {
        <span class="total">{{ path.total }}</span>
      }

    </div>

  }

}
