@for (btnGroup of settingsButtonsGroups(); track btnGroup; let i = $index) {
  <div
    class="settings-buttons-group"
    >@for (buttonKey of btnGroup; track buttonKey) {
    <!--
    -->@if (!settingsButtons()[buttonKey].hidden && settingsButtons()[buttonKey].iconName) {
    <button
      (click)="toggleButton.emit(buttonKey)"
      class="defaultSettingsButton"
      [class]="{ defaultSettingsButtonToggled: settingsButtons()[buttonKey].toggled }"
      title="{{ settingsButtons()[buttonKey].hoverText }}"
      >
      <app-icon class="icon" [icon]="settingsButtons()[buttonKey].iconName"></app-icon>
    </button>
    }<!--
    -->
    }<!--
    --><!--
  --></div>
}
