// @import "~@circlon/angular-tree-component/css/angular-tree-component.css";

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

// EDIT TREE STYLING HERE
.my-tree {

  .tree-node-level-1 {
    padding-left: 12px;
  }

  span {
    cursor: pointer;
  }

  .toggle-children-wrapper {
    border: 1px solid red;
    position: absolute;
    width: 5px;
    height: 5px;
    transform: translate(-8px, 8px);
  }

  // .node-wrapper {
  //   border-left: 1px solid red;
  // }

  // .node-content-wrapper-active {
  //   border: 1px solid red;
  //   background: none;
  // }

}
