.gallery-pane {
  line-height: 0;
  column-gap: 10px;

  .img-container {
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;

    span {
      background: white;
      border-radius: 6px;
      bottom: 3px;
      display: block;
      font-size: 12px;
      height: 16px;
      left: 2px;
      line-height: 1;
      max-width: calc(100% - 4px);
      overflow: hidden;
      padding: 2px 3px;
      position: absolute;
      white-space: nowrap;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.gallery-2 {
  max-height: 100%;
}

.gallery-3 {
  display: inline-block;

  .img-container {
    display: inline-block;
    height: 177px;
    margin-right: 10px;

    img {
      width: initial;
      height: 177px;
    }
  }
}

.input-filter {
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  padding-left: 6px;
}
