.pane {
  padding: 10px;
}

.folder-filter {
  bottom: 0;
  margin: 10px;
  position: absolute;
  width: 130px;
}

.full-screen-overlay {
  border: 10px solid red;
  background: black;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}

.the-sidebar {
  // background: white;
  border: 1px solid red;
  height: calc(100vh - 35px);
  position: absolute;
  transform: translateX(0);
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1); // ease out cubic
  transition-duration: 250ms;
  width: 190px;
  z-index: 2;

  .tree-container {
    background: white;
    border: 1px solid green;
    height: 100%;
    width: calc(100% - 20px);
  }
}

.the-gallery {
  border: 1px solid blue;
  height: calc(100vh - 35px);
  overflow: scroll;
  padding: 10px 10px 10px 0;
  position: absolute;
  right: 0;
  width: calc(100vw - 10px);
  // width: calc(100vw - 170px);
}

.sidebar-hidden {
  transform: translateX(-160px);
  transition-delay: 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1); // ease out cubic
}
