<div class="window">

  <header class="toolbar toolbar-header">

    <!-- <h1 class="title">Image Viewer</h1> -->

    <div class="toolbar-actions">

      <div class="btn-group">
        <button
          class="btn btn-default"
          (click)="exit()"
        >
          <span
            class="icon icon-cancel"
            title="close app"
          ></span>
        </button>

        <button
          class="btn btn-default"
          (click)="maximize()"
        >
          <span
            class="icon icon-popup"
            title="close app"
          ></span>
        </button>

        <button
          class="btn btn-default"
          (click)="minimize()"
        >
          <span
            class="icon icon-down-open"
            title="close app"
          ></span>
        </button>
      </div>

      <div class="btn-group">
        <button
          class="btn btn-default"
          (click)="openFolder()"
        >
          <span
            class="icon icon-folder"
            title="open folder"
          ></span>
        </button>

        <button
          class="btn btn-default"
          [ngClass]="{ active: expanded }"
          (click)="toggleTree(tree)"
          title="expand / collapse tree"
        >
          <span
            class="icon icon-flow-cascade"
          ></span>
        </button>
      </div>

      <div class="btn-group">
        <button
          class="btn btn-default"
          title="layout"
          (click)="currentView = 'view1'"
          [ngClass]="{ active: currentView === 'view1' }"
        >
          <span
            class="icon icon-layout"
          ></span>
        </button>

        <button
          class="btn btn-default"
          title="layout"
          (click)="currentView = 'view2'"
          [ngClass]="{ active: currentView === 'view2' }"
        >
          <span
            class="icon icon-layout"
          ></span>
        </button>

        <button
          class="btn btn-default"
          title="layout"
          (click)="currentView = 'view3'"
          [ngClass]="{ active: currentView === 'view3' }"
        >
          <span
            class="icon icon-layout"
          ></span>
        </button>

      </div>

      <div class="btn-group">
        <button
          (click)="showText = !showText"
          class="btn btn-default"
          [ngClass]="{ active: showText }"
        >
          <span
            class="icon icon-language"
            title="show / hide file name"
          ></span>
        </button>
      </div>

      <div class="btn-group">
        <button
          class="btn btn-default"
          [ngClass]="{ active: showJpg }"
          (click)="showJpg = !showJpg"
        >
          <span>jpg</span>
        </button>

        <button
          class="btn btn-default"
          [ngClass]="{ active: showPng }"
          (click)="showPng = !showPng"
        >
          <span>png</span>
        </button>

        <button
          class="btn btn-default"
          [ngClass]="{ active: showGif }"
          (click)="showGif = !showGif"
        >
          <span>gif</span>
        </button>
      </div>

      <div class="btn-group">
        <button
          (click)="numOfColumns = numOfColumns + 1"
          class="btn btn-default"
        >
          <span
            class="icon icon-minus"
            title="zoom out"
          ></span>
        </button>
        <button
          (click)="numOfColumns = numOfColumns - 1"
          class="btn btn-default"
        >
          <span
            class="icon icon-plus"
            title="zoom in"
          ></span>
        </button>
      </div>

      <div class="btn-group pull-right">
        <input
          #search
          placeholder="file filter"
          [(ngModel)]="searchString"
          (keydown.esc)="searchString = ''"
          type="text"
          class="input-filter"
        />
      </div>

    </div>

  </header>


  <div class="window-content">

    <div class="pane-group">

      <div class="pane-sm sidebar">
        <tree-root
          #tree
          class="my-tree"
          [nodes]="nodes"
          [options]="options"
        ></tree-root>

        <input
          placeholder="folder filter"
          (keyup)="filterTree($event.target.value)"
          (keydown.esc)="$event.target.value = ''"
          type="text"
          class="input-filter folder-filter"
        />

      </div>

      <div class="pane">

        <div
          *ngIf="allImages.length > 0"
          class="gallery-pane"
          [ngClass]="{
            'gallery-2': currentView === 'view2',
            'gallery-3': currentView === 'view3'
          }"
          [ngStyle]="{
            'column-count': currentView === 'view3' ? 'initial' : numOfColumns
          }"
        >

          <div
            class="img-container"
            *ngFor="let image of allImages | subfolder : partialPath
                                           | filetype : showPng : showJpg : showGif
                                           | search : searchString
                                           | sort"
          >

            <img
              [src]="'file://' + image.fullPath" />

            <span *ngIf="showText">
              {{ image.name }}
            </span>

          </div>

        </div>

      </div>

    </div>

  </div>

  <footer class="toolbar toolbar-footer">
    <h1 class="title">Footer</h1>
  </footer>

</div>
