<div
  *ngIf="settingsModalOpen"
  class="all-settings-tabs"
>
  <button (click)="settingTabToShow = 0" [ngClass]="{ 'active-tab': settingTabToShow === 0 }">
    {{ 'SETTINGS.tab1' | translate }}
  </button>
  <button (click)="settingTabToShow = 1" [ngClass]="{ 'active-tab': settingTabToShow === 1 }">
    {{ 'SETTINGS.tab2' | translate }}
  </button>
  <button (click)="settingTabToShow = 2" [ngClass]="{ 'active-tab': settingTabToShow === 2 }">
    {{ 'SETTINGS.tab3' | translate }}
  </button>
  <button (click)="settingTabToShow = 3" [ngClass]="{ 'active-tab': settingTabToShow === 3 }">
    {{ 'SETTINGS.tab4' | translate }}
  </button>
  <button (click)="settingTabToShow = 4" [ngClass]="{ 'active-tab': settingTabToShow === 4 }">
    {{ 'SETTINGS.tab5' | translate }}
  </button>
</div>

<div *ngIf="settingsModalOpen" class="settings-modal">

  <app-settings
    (changeLanguage)="changeLanguage($event)"

    [settingTabToShow]="settingTabToShow"
    [settingsButtons]="settingsButtons"
  ></app-settings>

</div>

<div class="window">

  <header class="toolbar toolbar-header">

    <!-- <h1 class="title">Image Viewer</h1> -->

    <div class="toolbar-actions">

      <!-- ALL THE BUTTONS IN THE RIBBON -->
      <div class="btn-group">
        <app-ribbon
          (toggleButton)="toggleButton($event)"
          [appState]="appState"
          [settingsButtonsGroups]="settingsButtonsGroups"
          [settingsButtons]="settingsButtons"
        ></app-ribbon>
      </div>

      <div class="btn-group">
        <button
          class="btn btn-default"
          (click)="exit()"
        >
          <span
            class="icon icon-cancel"
            title="close app"
          ></span>
        </button>

        <button
          class="btn btn-default"
          (click)="maximize()"
        >
          <span
            class="icon icon-popup"
            title="close app"
          ></span>
        </button>

        <button
          class="btn btn-default"
          (click)="minimize()"
        >
          <span
            class="icon icon-down-open"
            title="close app"
          ></span>
        </button>
      </div>

      <div class="btn-group">
        <button
          class="btn btn-default"
          [ngClass]="{ active: forceHide }"
          (click)="showHideTree()"
          title="show / hide tree"
        >
          <span
            class="icon icon-left-open"
          ></span>
        </button>

        <button
          class="btn btn-default"
          [ngClass]="{ active: autohide }"
          (click)="autohide = !autohide"
          title="toggle autohide sidebar"
        >
          <span
            class="icon icon-eye"
          ></span>
        </button>

        <button
          class="btn btn-default"
          (click)="openFolder()"
        >
          <span
            class="icon icon-folder"
            title="open folder"
          ></span>
        </button>

        <button
          class="btn btn-default"
          [ngClass]="{ active: expanded }"
          (click)="toggleTree(tree)"
          title="expand / collapse tree"
        >
          <span
            class="icon icon-flow-cascade"
          ></span>
        </button>
      </div>

      <div class="btn-group">
        <button
          class="btn btn-default"
          title="layout"
          (click)="changeView('view1')"
          [ngClass]="{ active: currentView === 'view1' }"
        >
          <span>1</span>
        </button>

        <button
          class="btn btn-default"
          title="layout"
          (click)="changeView('view2')"
          [ngClass]="{ active: currentView === 'view2' }"
        >
          <span>2</span>
        </button>

        <button
          class="btn btn-default"
          title="layout"
          (click)="changeView('view3')"
          [ngClass]="{ active: currentView === 'view3' }"
        >
          <span>3</span>
        </button>

        <button
          class="btn btn-default"
          title="layout"
          (click)="changeView('view4')"
          [ngClass]="{ active: currentView === 'view4' }"
        >
          <span>4</span>
        </button>

        <button
          class="btn btn-default"
          title="layout"
          (click)="changeView('view5')"
          [ngClass]="{ active: currentView === 'view5' }"
        >
          <span>5</span>
        </button>

      </div>

      <div class="btn-group">
        <button
          (click)="showText = !showText"
          class="btn btn-default"
          [ngClass]="{ active: showText }"
        >
          <span
            class="icon icon-language"
            title="show / hide file name"
          ></span>
        </button>
      </div>

      <div class="btn-group">
        <button
          class="btn btn-default"
          [ngClass]="{ active: showJpg }"
          (click)="showJpg = !showJpg"
        >
          <span>jpg</span>
        </button>

        <button
          class="btn btn-default"
          [ngClass]="{ active: showJxl }"
          (click)="showJxl = !showJxl"
        >
          <span>jxl</span>
        </button>

        <button
          class="btn btn-default"
          [ngClass]="{ active: showPng }"
          (click)="showPng = !showPng"
        >
          <span>png</span>
        </button>

        <button
          class="btn btn-default"
          [ngClass]="{ active: showGif }"
          (click)="showGif = !showGif"
        >
          <span>gif</span>
        </button>
      </div>

      <div class="btn-group">
        <button
          (click)="decreaseSize()"
          class="btn btn-default"
        >
          <span
            class="icon icon-minus"
            title="zoom out"
          ></span>
        </button>
        <button
          (click)="increaseSize()"
          class="btn btn-default"
        >
          <span
            class="icon icon-plus"
            title="zoom in"
          ></span>
        </button>
      </div>

      <div class="btn-group">
        <button
          (click)="toggleFullScreen()"
          class="btn btn-default"
        >
          <span
            class="icon icon-resize-full"
            title="full screen"
          ></span>
        </button>
      </div>

      <div class="btn-group pull-right">
        <input
          #search
          placeholder="file filter"
          [(ngModel)]="searchString"
          (keydown.esc)="searchString = ''"
          type="text"
          class="input-filter"
        />
      </div>

    </div>

  </header>


  <div class="sidebar-and-gallery">

      <div
        class="the-sidebar"
        [ngClass]="{ 'sidebar-hidden': (autohide && !showTree) || forceHide }"
        (mouseover)="showTree = true"
        (mouseout)="showTree = false"
      >
        <div class="tree-container">

          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <!-- disabled -->
              {{node.name}}
            </mat-tree-node>

            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <span mat-icon-button matTreeNodeToggle>
                  {{treeControl.isExpanded(node) ? '^' : '\>'}}
                  {{node.name}}
              </span>
            </mat-tree-node>

          </mat-tree>

        </div>

        <input
          #folderFilter
          placeholder="folder filter"
          (keyup)="filterTree(folderFilter.value)"
          (keydown.esc)="folderFilter.value = ''"
          type="text"
          class="input-filter folder-filter"
        />

      </div>

      <div class="the-gallery">

        <div
          *ngIf="allImages.length > 0"
          class="gallery-pane"
          id="the-gallery"
          [ngClass]="{
            'gallery-2': currentView === 'view2',
            'gallery-3': currentView === 'view3',
            'gallery-4': currentView === 'view4',
            'gallery-5': currentView === 'view5'
          }"
          [ngStyle]="{
            'column-count': currentView === 'view1' || currentView === 'view2' ? numOfColumns : 'initial'
          }"
        >

          <div
            class="img-container"
            *ngFor="let image of allImages | subfolder : partialPath
                                           | filetype : showPng : showJpg : showJxl : showGif
                                           | search : searchString
                                           | sort
                                           | save
                                  index as idx"
            [ngStyle]="{
              'width':  (currentView === 'view4' || currentView === 'view5') ? previewWidth +  'px' : 'initial',
              'height': (currentView === 'view4' || currentView === 'view5') ? previewHeight + 'px' : 'initial'
            }"
          >

            <img
              (click)="updatePreview(idx)"
              [src]="'file://' + image.fullPath"
              [ngStyle]="{
                'height': currentView === 'view3' ? previewHeight + 'px' : '100%'
              }"
            >

            <span *ngIf="showText">
              {{ image.name }}
            </span>

          </div>

        </div>

      </div>

  </div>

  <div class="full-screen-overlay" *ngIf="currentImage !== ''">
    <img
      (click)="showNext()"
      (contextmenu)="showPrevious()"
      [src]="'file://' + currentImage"
    >
  </div>

</div>
